/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* general */
body {
  font-family: "Poppins", sans-serif !important; }

a {
  text-decoration: none;
  color: #5d7e87; }

ul,
ol {
  list-style: none; }

.titulo {
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px; }

nav {
  text-align: right; }

@keyframes mostrar {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* index */
/* main */
.main__principal {
  width: 100%;
  height: 600px;
  background-image: url(../img/imagendefondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

.main__principal__text {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.main__principal__title {
  font-size: 48px; }

.main__principal__paragraph {
  font-size: 30px;
  font-weight: 200; }

/* testimonios */
.testimonios {
  padding: 60px 0;
  width: 50%;
  margin: auto; }

.carrusel {
  color: #fff;
  padding: 30px;
  background-color: #1d9fe3; }

.carrusel__clientes {
  text-align: right; }

.carrusel__parrafo {
  font-style: italic; }

/* our work */
.our__work {
  width: 90%;
  padding: 60px 0;
  margin: auto; }

.our__work__parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.span__index {
  color: #1d9fe3; }

.imagen__our__work {
  width: 48%;
  padding: 5px; }

.our__work__decripcion {
  width: 48%;
  padding: 5px; }

.our__work__description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px; }

.our__work__card {
  width: 38%;
  text-align: center; }

.our__work__card h3 {
  margin: 10px 0;
  color: #1d9fe3; }

.our__work__card p {
  font-weight: 300; }

/* contacto */
.contact__us {
  background-color: #f2f2f2;
  margin: auto; }

.comunicate__formulario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }

.form {
  background-color: aliceblue;
  color: #839098;
  line-height: 2;
  width: 90%;
  max-width: 400px;
  padding: 72px 48px;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  display: grid; }

.form__contacto {
  position: relative; }

.form__input {
  width: 100%;
  background: none;
  font-family: "Poppins", sans-serif;
  color: #839098;
  font-size: 16px;
  padding: 5px 2px;
  border: none;
  outline: none;
  border-bottom: 1px solid #839098; }

.form__submit {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 700;
  line-height: 18px;
  background-color: #1d9fe3;
  border: 1px solid #ffffff;
  padding: 16px;
  cursor: pointer; }

/* sumate */
.sumate__principal {
  color: #012d6a;
  font-style: normal;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 30px;
  margin: 10px 20px;
  text-align: end;
  padding-bottom: 30px; }

.btn__cargarcv {
  display: inline-block;
  font-size: 18px;
  color: #012d6a;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #012d6a;
  padding: 16px; }

/* footer */
.footer {
  background-color: #012d6a;
  color: #fff;
  padding: 60px 0 30px 15px;
  margin: auto;
  overflow: hidden; }

/* Nosotros */
.nosotros {
  width: 90%;
  padding: 60px 0;
  margin: auto; }

.nosotros__parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.about {
  background-color: #f2f2f2; }

.span__nosotros {
  color: #1d9fe3; }

.about__parragraph__principal {
  color: #1d9fe3; }

.btn__contactanos {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  line-height: 18px;
  text-align: center;
  background-color: #1d9fe3;
  border: 1px solid #1d9fe3;
  padding: 16px; }

.about {
  padding: 30px;
  color: #fff; }

.container {
  padding: 30px 0;
  width: 90%; }

.about__text {
  align-self: center;
  width: 60%;
  margin: 30px auto;
  background-color: #1d9fe3;
  padding: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }

.title__valores {
  text-align: center;
  font-size: 28px;
  padding: 30px;
  color: #1d9fe3; }

.about__valores__text {
  align-self: center;
  width: 60%;
  margin: 30px auto;
  background-color: #839098;
  color: #fff;
  padding: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  text-align: center; }

/* Servicios */
.servicios__contactanos {
  padding: 30px;
  margin: 30px 0; }

.servicios__table {
  background-color: #1c92d2;
  color: #fff;
  padding: 30px; }

.titulo__servicios {
  text-align: center;
  padding-bottom: 30px; }

/* Contacto */
.contacto {
  width: 100%;
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(241, 252, 254, 0.699), rgba(29, 147, 211, 0.733)), url(../img/imagendefondo.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover; }

.contac__text {
  color: #1d9fe3;
  font-weight: 500; }

.color__contac {
  background-color: #fff; }

.color__modif {
  border-bottom: 1px solid #1d9fe3;
  color: #1d9fe3; }

.label__contacto {
  color: #1d9fe3; }

/*Trabaja con nosotros */
.trabaja {
  width: 100%;
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(241, 252, 254, 0.699), rgba(29, 147, 211, 0.733)), url(../img/trabajaconnosotros.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover; }

.trabaja__text {
  color: #1d9fe3;
  font-weight: 700; }

.comunicate__parrafo {
  text-align: center; }

.resaltar {
  color: #1d9fe3;
  font-weight: 700; }

/* Cotizador */
.cotizar {
  width: 100%;
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(241, 252, 254, 0.699), rgba(29, 147, 211, 0.733)), url(../img/cotiza.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* dektop */
@media (min-width: 992px) {
  .our__work__parrafo {
    display: flex;
    flex-direction: row; }
  .our__work__description {
    justify-content: space-between;
    flex-direction: row; }
  .comunicate__formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .comunicate__parrafo {
    width: 48%; }
  .comunicate__formulario__contacto {
    width: 48%; }
  .main__about {
    display: flex;
    flex-direction: row; }
  .nosotros__parrafo {
    display: flex;
    flex-direction: row; }
  .nosotros__description {
    justify-content: space-between;
    flex-direction: row; } }
