.contacto {
    width: 100%;
    text-align: center;
  }
  .contac__text {
    color: #1d9fe3;
    font-weight: 500;
  }
  .cotiza{
    font-weight: 700;
  }
  .color__contac {
    background-color: #fff;
  }
  .color__modif {
    border-bottom: 1px solid #1d9fe3;
    color: #1d9fe3;
  }
  .label__contacto {
    color: #1d9fe3;
  }