.trabaja {
    width: 100%;
    background: #1c92d2; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f2fcfe,
      #1c92d2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        hsla(189, 87%, 97%, 0.699),
        hsla(201, 76%, 47%, 0.733)
      ),
      url(../img/trabajaconnosotros.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .trabaja__text {
    color: #1d9fe3;
    font-weight: 700;
  }
  .comunicate__parrafo {
    text-align: center;
  }
  .resaltar {
    color: #1d9fe3;
    font-weight: 700;
  }