.trabaja {
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
  }
  .trabaja__text {
    color: #1d9fe3;
    font-weight: 700;
  }
  .comunicate__parrafo {
    text-align: center;
  }
  .resaltar {
    color: #1d9fe3;
    font-weight: 700;
  }
  .label__adjuntarcv{
    font-weight: 500;
    color: #1d9fe3;
  }